<nav class="navbar navbar-dark" style="background-color: #011627;">
  <a class="navbar-brand" href="/">History Of The Universe</a>
  <form class="form-inline">
    <li class="navbar-text">
      <%= current_user_email %>
      <a href="#" class="btn btn-outline-light"  type="button" data-toggle="modal" data-target="#new-question-modal">Ask Question</a>
    </li>
  </form>
</nav>
