<!-- Modal -->
<div class="modal fade" id="new-question-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Question</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <%= form_for :question, url: '/questions', html: { class: 'form-horizontal' } do %>
      <div class="modal-body">
  <div class="form-group">
    <label for="inputEmail">Email</label>
    <input type="email" class="form-control" name="question[email]" value="<%= current_user_email %>" id="inputEmail" placeholder="Email" required>
  </div>
  <div class="form-group">
    <label for="inputQuestion">Question</label>
      <textarea class="form-control" type="text" name="question[body]" id="inputQuestion" placeholder="What would like to know" required>
      </textarea>
    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Save changes</button>
      </div>
    </div>
  </div>
  <% end %>

</div>
