<div class="media bg-gradient-info"style="margin:16px;">
  <div class="align-self-start mr-3" style="margin:4px">
    <a href="#">
      <img class="media-object" src="https://cdn.iconscout.com/icon/premium/png-256-thumb/balance-7-84171.png" width="64" height="64">
    </a>
  </div>
  <div class="list-unstyled">
    <div class="media-body">
      <h4 class="mt-0 mb-1">user@email.com asked:</h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec eros at magna semper viverra quis ac ligula. Praesent sed lorem aliquam, faucibus nibh et, ullamcorper nunc. Nulla sit amet semper lectus. Curabitur id magna nisi.
    </div>
  </div>
</div>

<div style="height:1px; background-color: #e1e1e1; margin-bottom: 16px"></div>
<div class="media" style="margin:16px">
    <button type="button" class="btn btn-success btn-small" data-toggle="modal" data-target="#new-answer-modal">Submit new answer</a>
</div>

<%= render 'home/new_answer_form'%>

<div class="list-unstyled" style="margin:16px">
    <div class="media">
      <div class="align-self-start mr-3">
        <a href="#">
          <img class="media-object" src="https://cdn.iconscout.com/icon/premium/png-256-thumb/balance-7-84171.png" width="64" height="64">
        </a>
      </div>
      <div class="list-unstyled">
        <div class="media-body">
          <h4 class="mt-0 mb-1">user@email.com answered:</h4>
          Sed malesuada non lectus ut consequat. Aenean quis orci et diam elementum placerat. Aenean nec ipsum blandit, accumsan nisi a, eleifend nisi. Integer hendrerit, libero non interdum dignissim, sapien turpis sollicitudin lacus, pretium rutrum erat lorem non sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        </div>
      </div>
    </div>

    <div class="media">
      <div class="align-self-start mr-3">
        <a href="#">
          <img class="media-object" src="https://cdn.iconscout.com/icon/premium/png-256-thumb/balance-7-84171.png" width="64" height="64">
        </a>
      </div>
      <div class="list-unstyled">
        <div class="media-body">
          <h4 class="mt-0 mb-1">user@email.com answered:</h4>
          Sed malesuada non lectus ut consequat. Aenean quis orci et diam elementum placerat. Aenean nec ipsum blandit, accumsan nisi a, eleifend nisi. Integer hendrerit, libero non interdum dignissim, sapien turpis sollicitudin lacus, pretium rutrum erat lorem non sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        </div>
      </div>
    </div>

    <div class="media">
      <div class="align-self-start mr-3">
        <a href="#">
          <img class="media-object" src="https://cdn.iconscout.com/icon/premium/png-256-thumb/balance-7-84171.png" width="64" height="64">
        </a>
      </div>
      <div class="list-unstyled">
        <div class="media-body">
          <h4 class="mt-0 mb-1">user@email.com answered:</h4>
          Sed malesuada non lectus ut consequat. Aenean quis orci et diam elementum placerat. Aenean nec ipsum blandit, accumsan nisi a, eleifend nisi. Integer hendrerit, libero non interdum dignissim, sapien turpis sollicitudin lacus, pretium rutrum erat lorem non sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        </div>
      </div>
    </div>

</div>
